.favourites-page {
    padding: 20px 0;
}

.favourites-page h1 {
    margin-bottom: 20px;
    padding: 0 20px;
}

.favourites-page p {
    color: #70757e;
    text-align: center;
    padding: 0 20px;
}

.tracks-list {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}