.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background: #000000;
  color: white;
}

.links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.links a:hover {
  color: #1db954;
}

.navbar h2 {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.navbar img {
  width: 180px;
  height: auto;
  min-height: 48px;
}
