.track-card-big {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(42, 47, 54);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
img {
    width: 90%;
    border-radius: 10px;
    align-self: center;
}
.track-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 10px;
    text-align: left;
    width: 90%;
    position: relative;
    overflow: hidden;
}
.track-card-big p {
    color: #70757e;
    font-size: 14px;
    
}
h3 {
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin: 0;
    width: auto;
    display: inline-block;
    height: 20px;
    padding-bottom: 30px;
}

h3.scrolling {
    animation: scrollText 15s ease-in-out infinite;
}



.text-gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.text-gradient-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(to right, rgb(42, 47, 54), rgba(42, 47, 54, 0));
}

.text-gradient-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(to left, rgb(42, 47, 54), rgba(42, 47, 54, 0));
}

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(-100% + 70%));
    }
    100% {
        transform: translateX(0);
    }
}

.favorite-btn {
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
    margin-top: 5px;
}
.favorite-btn button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}